<mat-sidenav-container [class.m2app-dark]="isDarkTheme" flex style="height:100%">

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button" (click)="login()">
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
      <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
        <span class="title"><a href="/">Angular Material Firestore</a></span>
        <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/login">Login</a>
  </mat-toolbar>
  <!-- <app-user-login></app-user-login> -->
  <router-outlet></router-outlet>
  <footer>
    <span style="text-align: center;display: block;">Appsolzone ! Copyright@2019 </span>
  </footer>


</mat-sidenav-container>
